@model IEnumerable<studentmvc.Models.tblproduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form asp-controller="Customer" asp-action="cust_viewroom">
    <div class="input-group">
        <input type="search" name="SearchString" class="form-control form-control-lg" placeholder="Search your product">
        <div class="input-group-append">
            <button type="submit" class="btn btn-lg btn-default">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>
@if (Model.Count() == 0)
{
    <p class="blockquote" style="color:red; text-align:center">@ViewBag.emptyerr</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prod_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblcategory.cat_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prod_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblcategory.cat_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.prod_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.prod_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.prod_id })
            </td>
        </tr>
    }

</table>
